[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow_dataset = "*"
matplotlib = "*"
graphviz = "*"
pydot = "*"
pydotplus = "*"
jupyter = "*"
utils = "*"
pandas = "*"
scipy = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
